/* @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root{
    --minion-blue: #5858c4;
    --minion-yellow: #ffe600;
}
html, body{
    margin: 0;
    width: 100%;
}


header{
    /* font-family: 'Festive', cursive; */
    font-family: 'Dokdo', cursive;
    font-size: xxx-large;
    text-align: center;
    padding: 5rem;
}

#header-img{
    max-width: 350px;
}
section{
    background-color: var(--minion-yellow);
    font-size: xxx-large;
    font-family: 'La Belle Aurore', cursive;
    padding: 0.5rem;
    text-align: center;
}
.container{
    padding: 3% 20%
}
section p{

    max-width: 500pxx;
}
section textarea{
    width: 40%;
    height: 10vh;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 15px;
}
section button{
    background-color: var(--minion-blue);
    color: #f0f8ff;
    padding:1rem;
    font-size: x-large;
    font-family: 'Dokdo', cursive;;
}
section div{
    position: relative;
    left: 25%;
    border: 0.2rem none;
    border-radius: 0.5rem;
    height: 10vh;
    width: 40%;
    background-color:white;
    margin: 2rem;
}
footer{
    padding: 0.2rem;
    background-color: var(--minion-blue);
}

